Repository CommunityToolkit/Windows, pull requests merged in 2023-07, with the labels that each got.

#141 Add more samples for the ConstrainedBox control
  components/Primitives/samples/Assets/checker.png
  components/Primitives/samples/ConstrainedBox.md
  components/Primitives/samples/ConstrainedBox/ConstrainedBoxAspectSample.xaml
  components/Primitives/samples/ConstrainedBox/ConstrainedBoxAspectSample.xaml.cs
  components/Primitives/samples/ConstrainedBox/ConstrainedBoxMultipleSample.xaml
  components/Primitives/samples/ConstrainedBox/ConstrainedBoxMultipleSample.xaml.cs
  components/Primitives/samples/ConstrainedBox/ConstrainedBoxScaleSample.xaml
  components/Primitives/samples/ConstrainedBox/ConstrainedBoxScaleSample.xaml.cs
  components/Primitives/samples/ConstrainedBoxSample.xaml
  components/Primitives/samples/Primitives.Samples.csproj
Labels: documentation

#146 Fixed codespaces not cloning submodule automatically
  .devcontainer/devcontainer.json
Labels: bug, dev loop ➰, low difficulty, regression

#155 Fix building in Codespaces, install net7 in devcontainer
  .devcontainer/devcontainer.json
Labels: bug, dev loop ➰
